<!DOCTYPE html>
<html lang='en' ng-app='bestRestaurant'>
    <head>
        <title>Best Restaurants</title>
        <script src="lib/angular.js"></script>
        <script src="js/app.js"></script>
        <script src='js/RestaurantController.js'></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" ng-controller='RestaurantCtrl'>
            <div class='row'>
                <div class="col-xs-6">

                    <h2>New Restaurant</h2>
                    <form ng-submit="addRestaurant()" class="form-inline" role="form">
                            <div class="form-group">
                                <input type="text" ng-model="restName" class="form-control" placeholder="Enter name" required>
                                <input type="text" ng-model="restCuisine" class="form-control" placeholder="Enter cuisine" required>
                                <input type="text" ng-model="restLocation" class="form-control" placeholder="Enter location" required>
                                <input type="text" ng-model="restPrice" class="form-control" placeholder="Enter price" required>
                            </div>
                            <button type="submit" class="btn btn-info">Add Restaurant</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h2 ng-show="restaurants.length && filtered.length">Restaurants: </h2>
                    <h2 ng-show="restaurants.length && !filtered.length">No Matches </h2>
                    <ul>
                        <li ng-repeat='item in filtered = (restaurants | filter:query)'>
                            <span ng-click="editing = true" ng-hide="editing">
                                {{ item.name }} <button class="btn btn-xs btn-warning" ng-click="deleteRestaurant(item)">x</button>
                            </span>
                            <span ng-hide="editing">
                                <ul>
                                    <li>{{ item.cuisine }}</li>
                                    <li>{{ item.location }}</li>
                                    <li>$ {{ item.price }}</li>
                                </ul>
                            </span>
                            <span class="form-group" ng-show="editing" ng-submit="editing = false">
                                <form class="form-inline" role="form">
                                    <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                                    <input type="text" class="form-control input-sm" ng-model="item.cuisine" placeholder="Cuisine" required/>
                                    <input type="text" class="form-control input-sm" ng-model="item.location" placeholder="Location" required/>
                                    <input type="text" class="form-control input-sm" ng-model="item.price" placeholder="Price" required/>

                                    <button class="btn btn-info btn-sm" type="submit">Save</button>
                                </form>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h2>Search Restaurants</h2>
                    <form class="form-inline" role='form'>
                        <div class='form-group'>
                            <input ng-model="query" type='text' class='form-control' placeholder='search'>
                        </div>
                    </form>
                </div>
            </div>



        </div>
    </body>
</html>
